<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=vetudajobs;AccountKey=hog7VwCmIYEMkl4u2o8HWS1NexaFmxbTrlrQxwhkHS0QaXf3oLqWo4sdSITfedhebkT/yCmgiM8/vx1QmcDEWw==;" />
    <!--<add key="QueueName" value="ventudacollectorjobs" />-->
    <add key="QueueName" value="vetudacollectorjobsf"/>
  </appSettings>
</configuration>